
@{
    Layout = null;
}
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
body {font-family: "Lato", sans-serif;}

.sidebar {
  height: 100%;
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 8px 10px 8px 8px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #0026ff;
}

.main {
  margin-left: 230px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
    </style>
</head>
<body>

    <div class="sidebar">
        <a href="/home/"><i class="glyphicon glyphicon-home"></i> &nbsp; Ana Sayfa</a>
        <a href="/Kategori/"><i class="glyphicon glyphicon-align-right"></i> &nbsp; Kategoriler</a>
        <a href="#"><i class="glyphicon glyphicon-cutlery"></i> &nbsp; Menü</a>
        <a href="#"><i class="glyphicon glyphicon-scissors"></i> &nbsp; Şefler</a>
        <a href="#"><i class="glyphicon glyphicon-user"></i> &nbsp; Müşteriler</a>
        <a href="#"><i class="glyphicon glyphicon-user"></i> &nbsp; Personeller</a>
        <a href="#"><i class="fa fa-check-square"></i> &nbsp; Rezervasyon Ayarla</a>
        <a href="#"><i class="fa fa-minus-square"></i> &nbsp; Rezervasyon iptal</a>
        <a href="#"><i class="glyphicon glyphicon-eur"></i> &nbsp; Kasa</a>
        <a href="#"><i class="glyphicon glyphicon-screenshot"></i> &nbsp; İşlemler</a>
        <a href="#"><i class="glyphicon glyphicon-cog"></i> &nbsp; Ayarlar</a>
        <a href="#"><i class="glyphicon glyphicon-envelope"></i> &nbsp; Yardım</a>
        <a href="#"><i class="glyphicon glyphicon-remove-sign"></i> &nbsp; Çıkış</a>

    </div>

    <div class="main">
        @RenderBody()
    </div>

</body>
</html>

